[submodule "deps/bls-signatures"]
	path = deps/bls-signatures
	url = https://github.com/filecoin-project/bls-signatures.git
[submodule "deps/tinycbor"]
	path = deps/tinycbor
	url = https://github.com/intel/tinycbor.git
