[submodule "deps/tinycbor"]
	path = deps/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "deps/filecoin-ffi"]
	path = deps/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
[submodule "test/core/serialization/serialization_vectors"]
	path = test/core/serialization/serialization_vectors
	url = https://github.com/filecoin-project/serialization-vectors.git
[submodule "deps/libsecp256k1"]
	path = deps/libsecp256k1
	url = https://github.com/Alexey-N-Chernyshov/libsecp256k1.git
[submodule "test/testutil/resources/test-vectors"]
	path = test/testutil/resources/test-vectors
	url = https://github.com/filecoin-project/test-vectors
