name: UBSAN

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
      name: checkout repo
    - name: cache
      uses: actions/cache@v1.1.2
      env:
        cache-name: cache-filecoin-ffi-proofs
      with:
        path: /var/tmp/filecoin-proof-parameters
        key: build-${{ env.cache-name }}
    - name: checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: install
      run: |
        brew install ninja llvm pkg-config
        sudo python3 -m pip install --upgrade pip
        sudo python3 -m pip install scikit-build cmake requests gitpython gcovr pyyaml
    - name: cmake
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # has to be included to access other secrets
        GITHUB_HUNTER_USERNAME: ${{ secrets.GITHUB_HUNTER_USERNAME }}
        GITHUB_HUNTER_TOKEN: ${{ secrets.GITHUB_HUNTER_TOKEN }}
        CFLAGS: "-I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include"
        CXXFLAGS: "-isysroot/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include"
      run: cmake . -GNinja -Bbuild -D UBSAN=ON
    - name: build
      run: cmake --build build -- -j2
    - name: run tests
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: cmake --build build --target test
